# Project exclude paths
/microservice-discovery-eureka/target/
/microservice-provider-user/target/
/microservice-simple-customer-movie/target/
/microservice-simple-provider-user/target/
.idea/
edgware-learning.iml
microservice-customer-movie-ribbon/microservice-customer-movie-ribbon.iml
microservice-customer-movie-ribbon/target/generated-sources/
microservice-customer-movie/microservice-customer-movie.iml
microservice-customer-movie/target/
microservice-discovery-eureka-authenticating/microservice-discovery-eureka-authenticating.iml
microservice-discovery-eureka-authenticating/microservice-discovery-eureka.iml
microservice-discovery-eureka-authenticating/target/generated-sources/
microservice-discovery-eureka-repli/target/generated-sources/
microservice-discovery-eureka/microservice-discovery-eureka.iml
microservice-provider-user-my-metadata/microservice-provider-user-my-metadata.iml
microservice-provider-user-my-metadata/microservice-provider-user.iml
microservice-provider-user-my-metadata/target/generated-sources/
microservice-provider-user-repli/microservice-provider-user-repli.iml
microservice-provider-user-repli/microservice-provider-user.iml
microservice-provider-user-repli/target/generated-sources/
microservice-provider-user/microservice-provider-user.iml
microservice-simple-customer-movie-understanding-metadata/microservice-simple-customer-movie-understanding-metadata.iml
microservice-simple-customer-movie-understanding-metadata/target/
microservice-simple-cus®tomer-movie/microservice-simple-customer-movie.iml
microservice-simple-provider-user/microservice-simple-provider-user.iml
